
<!DOCTYPE html>
<html>
<head>
<title>客服系统 - 企信</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<link href="/include/base/css/base.min.css" type="text/css" rel="stylesheet" />
<link href="/include/modules/web/css/web.min.css" type="text/css" rel="stylesheet" />

<link id="favicon" rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<script type="text/javascript">
  window.CTX="";
</script> 
<script src="/include/require.js" type="text/javascript"></script>
<script src="/include/require.config.js" type="text/javascript"></script><script type="text/javascript">
  require(['bs']);
</script>
<body>
<style type="text/css">
body,html{
  height:100%;
}
</style>

<header class="w-navbar navbar  navbar-inverse" role="navigation" style="position: relative;border-radius:0px;z-index: 999;margin-bottom:0;">
 <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand w-nav-brand" href="/" >  
    <!-- img class="w-nav-logo" src="/include/modules/web/img/w_logo_48.png" alt="" -->
    企信
    </a>
  </div>
  </div> 
</header>
<div>
  <div class="container" style="position:relative;">
	<div style="margin-top:20px;padding:20px;background-color:#fff;border-radius:5px;border:solid 1px #ccc;box-shadow:0 0 5px rgba(0,0,0,0.1);">
		<div class="clearfix" style="position:relative;z-index:1000;">
	      	<div class="text-center">
		      <h2><strong>404 - 找不到指定的页面.</strong></h2>
				<p style="margin:20px;">
					<a class="btn btn-primary" href="">返回首页</a>
				</p>
			</div>
			<div class="text-danger">
	

			</div>
	    </div>
	</div>
  </div>
  
   <hr/>
  <div id="footer" class="text-center">
   <div>Copyright © 1998 - 2014 Shenzhen Comtop Co.,Ltd.</div>
      <div>深圳市康拓普信息技术有限公司</div>
  </div>

 
  
</div>

</body>

</html>
