<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="sessionManager" ref="defaultWebSessionManager" />  
		<property name="realm" ref="shiroDbRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" /> 
	</bean>
	<!-- 注入自定义 customShiroSessionDAO 以实现shiro session共享-->
	<bean id="defaultWebSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">  
	    <property name="globalSessionTimeout" value="3600000" />
	    <property name="sessionIdCookie" ref="customSessionIdCookie" />
	</bean>
	<bean id="customSessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="PARTY_BUILDING_JSESSIONID" /><!-- cookie名称-->  
		<property name="path" value="/" />
	</bean> 
	
	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
	</bean>
	
	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="shiroDbRealm" class="org.apache.shiro.realm.text.IniRealm">
		<property name="resourcePath" value="classpath:shiro.ini" />
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/eimlogin" />
		<property name="successUrl" value="/" />
		<property name="unauthorizedUrl" value="/error/error403" />
		<property name="filters">
	        <map>   
	        </map>
        </property>
		<property name="filterChainDefinitions">
			<value> 
				/favicon.ico = anon,noSessionCreation<!-- 防止favicon被拦截而出现404错误 -->
				 
				/** = anon
			</value>
		</property>
	</bean>
	<!-- AIP Filter --> 
 
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor" >
		<property name="securityManager" ref="securityManager" />
	</bean>
</beans>